body
{
    margin: 0px;
    border: 0px;
    padding: 15px;

    box-sizing: border-box;
}



h1
{
    margin: 15px;
    border: 0px;
    padding: 0px;

    box-sizing: border-box;

    text-align: center;
}



div
{
    margin: 15px;
    border: 1px solid black;
    padding: 0px;

    box-sizing: border-box;

    position: relative;
    float: left;
    clear: right;
}



h4
{
    margin: 0px;
    border: 1px solid black;
    padding: 0px;

    box-sizing: border-box;

    position: relative;
    float: right;

    width: 75px;
    height: 15px;

    text-align: center;
}



p
{
    margin: 0px;
    border: 0px;
    padding: 0px;

    box-sizing: border-box;

    text-align: center;
}







#Division1
{
    background-color: antiquewhite;
}
#Heading1
{
    background-color:aqua;
}

#Division2
{
    background-color:aqua;
}
#Heading2
{
    background-color:aquamarine;
}

#Division3
{
    background-color:aquamarine;
}
#Heading3
{
    background-color:azure;
}



@media (min-width: 992px)
{
    #Division1, #Division2, #Division3
    {
        width: 31.25%;
    }
}

@media (min-width: 768px) and (max-width: 991px)
{
    #Division1, #Division2
    {
        width: 45.45913%
    }
    #Division3
    {
        width: 93.94550%;
    }

}

@media (max-width: 767px)
{
    #Division1, #Division2, #Division3
    {
        width: 92.94550%;
    }
}